.drop{
    position: absolute;
	right: 90px;
    top: 40px;
}

.grid{
    position: absolute;
    right: 70px;
    top: 160px;
    width: 70%;
}

.tab{
    position: absolute;
    left: 20px;
}

.popup{
    width:30%;
}